section.portfolio
  .filters
    select.platform
      option(disabled selected) Platform

    select.type
      option(disabled selected) Type

    select.industry
      option(disabled selected) Industry