section.profiles
  .quora(style="background-image: url('assets/images/QuoraBG.png')")
    .logo
      img(src="assets/images/Quora.png")
    .content
      img.avatar
      a(href="").slug /mark-swedberg
      p.subtitle UX & Web Design since 2009
    .link
      button Get Answers

  .linkedin(style="background-image: url('assets/images/LinkedInBG.png')")
    .logo
      img(src="assets/images/LinkedIn.png")
    .content
      img.avatar
      a(href="").slug /markswedberg
      p.subtitle Freelance Web Designer
    .link
      button View Profile

  .github(style="background-image: url('assets/images/GitHubBG.png')")
    .logo
      img(src="assets/images/GitHub.png")
    .content
      img.avatar
      a(href="").slug /swedy13
      p.subtitle Freelance Web Designer
    .link
      button Browse Code

  .upwork(style="background-image: url('assets/images/UpworkBG.png')")
    .logo
      img(src="assets/images/Upwork.png")
    .content
      img.avatar
      a(href="").slug /markswedberg
      p.subtitle Freelance Web Designer
    .link
      button Read Reviews