body
  margin 0px
  font-family Roboto

// ---- TEXT ---- //
@media screen and (orientation: portrait) and (min-width: 768px)
  a, p
    font-size 1.2em

@media screen and (orientation: landscape) and (min-width: 1025px)
  a, p
    font-size 1.2em